<section>
    <h2>Bienvenido {{user.first_name}}</h2>
    <p class='my-1'>Apellido: {{user.last_name}}</p>
    <p class='my-1'>Email: {{user.email}}</p>
    <p class='my-1'>Edad: {{user.age}}</p>
    <button class='mt-4 btn btn-danger' id='logout'>Logout</button>
</section>
<section class='mt-4 row justify-content-around align-items-end text-center'>
    <div class='col-12 col-md-4'>
        <h1 class='mt-5 text-center'>Productos</h1>
    </div>
    <form class='col-12 col-md-8 row align-items-end justify-content-around' id='form' method='get'>
        <div class='col-2'>
            <label class='w-100' for="limit">Limit</label>
            <input class='w-100 rounded border mt-1 px-2' type="number"  name='limit' placeholder='10'>
        </div>
        <div class='col-2'>
            <label class='w-100' for="page">Page</label>
            <input class='w-100 rounded border mt-1 px-2' type="number" name='page' placeholder='1'>
        </div>
        <div class='col-2'>
            <label class='w-100' for="query">Query</label>
            <select class='w-100 rounded border mt-1 px-2' name='query'>
                <option value="title">Title</option>
                <option value="description">Description</option>
                <option value="price">Price</option>
                <option value="thumnail">Thumnail</option>
                <option value="code">Code</option>
                <option value="stock">Stock</option>
                <option value="status">Status</option>
                <option value="category">Category</option>
            </select>
        </div>
        <div class='col-2'>
            <label class='w-100' for="value">Value</label>
            <input class='w-100 rounded border mt-1 px-2' type="text"  name='value' placeholder='Notebooks'>
        </div>
        <div class='col-2'>
            <label class='w-100' for="sort">Sort price</label>
            <select class='w-100 rounded border mt-1 px-2' name='sort'>
              <option value="1">Ascendente</option>
              <option value="-1">Descendente</option>
            </select>
        </div>
        <div class='col-2'>
            <button class=' btn btn-secondary rounded'>Aplicar</button>
        </div>
    </form>
</section>
<section class='mt-5 row justify-content-around align-items-stretch' id='products'>
    {{#each result}}
        <article class='col-12 col-md-3 m-4 py-5 border rounded text-center bg-light' id={{_id}}>
            <h2 class='h4'>{{title}}</h2>
            <h3 class='h5'>{{description}}</h3>
            <div class='row mt-5'>
                <p class='col-6'>{{category}}</p>
                <p class='col-6'>Codigo: {{code}}</p>
                <p class='col-6'>${{price}}</p>
                <p class='col-6'>{{stock}} Disponibles</p>
            </div>
            <div class='row mt-5 justify-content-center'>
                <div class='col-6'>
                    <button class='btn btn-primary' name='addProduct' data-product-id='{{_id}}'>Agregar</button>
                </div>
            </div>
        </article>
    {{/each}}
</section>
<aside id='aside'>

</aside>
<script>

    const logout = document.getElementById('logout')

    logout.onclick = () => {
        
        async function logout(){
            
            const response = await fetch('/api/auth/logout', {
                method: 'POST'
            })
            
            const data = await response.json()
            
            window.location.href = '/'

        }

        logout()

    }

    const addButtons = document.getElementsByName('addProduct')

    const form = document.getElementById('form')

    const aside = document.getElementById('aside')

    const urlParams = new URLSearchParams(window.location.search)
    
    form[0].value = urlParams.get('limit')
    form[1].value = urlParams.get('page')
    form[2].value = urlParams.get('query')
    form[3].value = urlParams.get('value')
    form[4].value = urlParams.get('sort')

    addButtons.forEach(button => {
        const productId = button.dataset.productId
        button.addEventListener('click', () => handleAddProduct(productId));
    });

    async function handleAddProduct(id){

        console.log(id)

        const response = await fetch(`http://localhost:8080/api/carts/64d42f5a320fbbb046299785/product/${id}`, {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            }
        })

        const data = await response.json()

        if(data.status === "Success") {

            const div = document.createElement('div')

            div.classList.add('alert','alert-primary','position-fixed','top-0','end-0','m-4')
            div.role = 'alert'
            div.innerText = 'Producto agregado'

            aside.appendChild(div)

            setTimeout(() => {
                aside.removeChild(div)
            }, 4000)

        }

    }

</script>