<section class='mt-4 row justify-content-around align-items-end text-center'>
    <div class='col-12 col-md-4'>
        <h1 class='mt-5 text-center'>Productos</h1>
    </div>
    <form class='col-12 col-md-8 row align-items-end justify-content-around' id='form'>
        <div class='col-2'>
            <label class='w-100' for="limit">Limit</label>
            <input class='w-100 rounded border mt-1 px-2' type="number"  name='limit'>
        </div>
        <div class='col-2'>
            <label class='w-100' for="page">Page</label>
            <input class='w-100 rounded border mt-1 px-2' type="number" name='page'>
        </div>
        <div class='col-2'>
            <label class='w-100' for="query">Query</label>
            <input class='w-100 rounded border mt-1 px-2' type="text"  name='query' placeholder='category,Notebooks'>
        </div>
        <div class='col-2'>
            <label class='w-100' for="sort">Sort</label>
            <input class='w-100 rounded border mt-1 px-2' type="text" name='sort' placeholder='asc'>
        </div>
        <div class='col-2'>
            <button class=' btn btn-secondary rounded'>Aplicar</button>
        </div>
    </form>
</section>
<section class='mt-5 row justify-content-around align-items-stretch' id='products'>
    {{#each payload}}
        <article class='col-12 col-md-3 m-4 py-5 border rounded text-center bg-light' id={{_id}}>
            <h2 class='h4'>{{title}}</h2>
            <h3 class='h5'>{{description}}</h3>
            <div class='row mt-5'>
                <p class='col-6'>{{category}}</p>
                <p class='col-6'>Codigo: {{code}}</p>
                <p class='col-6'>${{price}}</p>
                <p class='col-6'>{{stock}} Disponibles</p>
            </div>
            <div class='row mt-5 justify-content-center'>
                <div class='col-6'>
                    <button class='btn btn-primary' name='addProduct'>Agregar</button>
                </div>
            </div>
        </article>
    {{/each}}
</section>
<script>

    const addButtons = document.getElementsByName('addProduct')

    const form = document.getElementById('form')

    const urlParams = new URLSearchParams(window.location.search)
    
    form[0].value = urlParams.get('limit')
    form[1].value = urlParams.get('page')
    form[2].value = urlParams.get('query')
    form[3].value = urlParams.get('sort')

    addButtons.forEach(button => {
        button.addEventListener('click', handleAddProduct);
    });

    function handleAddProduct(id){

        console.log(id)

        const response = await fetch(`http://localhost:8080/api/carts/64cd27dfe12446a96fe07dfd/product/${id}`)

        const data = await response.json()

        console.log(data)

    }

</script>