<h1>Profile</h1>
<section>
    <p class='my-1'>Nombre: {{first_name}}</p>
    <p class='my-1'>Apellido: {{last_name}}</p>
    <p class='my-1'>Email: {{email}}</p>
    <p class='my-1'>Edad: {{age}}</p>
    <p class='my-1'>Contraseña: {{password}}</p>
    <a href='/products'>Ir a productos</a>
</section>